.homepage-header {
    position: relative;
    width: 100%;
    height: 700px; /* Ajustez la hauteur selon vos besoins */
    background-image: url('../assets/your-background-image.png'); /* Assurez-vous que le chemin est correct */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .homepage-text {
    text-align: center;
    color: white;
  }
  
  .homepage-text h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 72px;
    margin: 0;
  }
  
  .homepage-text p {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    margin: 10px 0 0 0;
  }
  
  .homepage-content {
    padding: 20px;
  }
  
  .home-page {
    background-color: #FAF0E6;
    min-height: 100vh;
  }